.container {
    display: flex;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#selectedImage {
    max-width: 100%;
    max-height: calc(100vh - 60px);
}

#downloadButton {
    position: absolute;
    bottom: 20px;
}

.float-child {
  flex: 1;
}

.float-child:first-child {
    margin-right: 20px;
}

#dataList {
    height: 500px; /* Set a fixed height and add overflow-y: scroll; if you want a scrollable list */
    overflow-y: scroll;
}

#searchBox {
    display: flex;

}

ul li:hover {
    background-color: lightblue;
}

ul li:active {

    transform: translateY(2px);
    background-color: deepskyblue;
}

#selectedImage {
    max-width: 100%;
    max-height: 400px;
}
