.container {
    display: flex;
}

#imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#selectedImage {
    top: 30%;
    width:  200px;
    height: 200px;
    object-fit: cover;
}

#downloadButton {
    position: absolute;
    bottom: 50px;
}

.float-child {
  flex: 1;
}

.float-child:first-child {
    margin-right: 20px;
}

#dataList {
    height: 500px; /* Set a fixed height and add overflow-y: scroll; if you want a scrollable list */
    overflow-y: scroll;
    width: 80%;
    overflow-x: scroll;
}

#searchBox {
    display: flex;

}

ul li:hover {
    background-color: lightblue;
}

ul li:active {

    transform: translateY(2px);
    background-color: deepskyblue;
}

